service firebase.storage {
  match /b/{bucket}/o {
    match /apps/{allPaths=**} {
      allow read: if true;
      allow create, update: if request.auth != null;
    }
    match /ogp/{allPaths=**} {
      allow read, write: if true;
    }
    match /meta/{allPaths=**} {
      allow read, write: if true;
    }
  }
}